export OKTA_ORG_URL=https://dev-880333.okta.com
export OKTA_TOKEN=00W2eKLEBQkLI65sJDXGaWCHqIrGA58U-S4atKXF8s
export OKTA_CLIENT_ID=0oa1x2i9ib9RY8NTc357
export OKTA_CLIENT_SECRET=BQ8isHhs-SPIo4OfKqxhVeC5nTooGcplA6o_jM3G
export SECRET=LALAKAKAKAKAKKA
